---
import Welcome from "../components/Welcome.astro";
import DirectoryLayout from "../layouts/DirectoryLayout.astro";
---

<DirectoryLayout>
  <Welcome />
  <div class="bg-base-200 h-[1000px]">
    123
  </div>
</DirectoryLayout>
