---
import ThemeSwitcher from "./ThemeSwitcher.astro";

interface Props {
  animated?: boolean;
  rounded?: boolean;
}

const { animated, rounded } = Astro.props
---

<nav id="navbar" class="dui-drawer sticky top-0 z-50 mx-auto">
  <input id="navbar-drawer" type="checkbox" class="dui-drawer-toggle" />
  <div class="dui-drawer-content flex flex-col">
    <!-- Navbar -->
    <div
      id="navbar-top"
      class="dui-navbar bg-base-300/70 backdrop-blur-md shadow-xl w-full pl-4 pr-8"
    >
      <div class="flex-none lg:hidden">
        <label
          for="navbar-drawer"
          aria-label="open sidebar"
          class="dui-btn dui-btn-square dui-btn-ghost"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block h-6 w-6 stroke-current"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </label>
      </div>
      <div class="mx-2 flex-1 px-2 filter-none">Navbar Title</div>
      <div class="hidden flex-none lg:block">
        <ul class="dui-menu dui-menu-horizontal">
          <!-- Navbar menu content here -->
          <li><a>Navbar Item 1</a></li>
          <li><a>Navbar Item 2</a></li>
        </ul>
      </div>
      <div>
        <ThemeSwitcher />
      </div>
    </div>
  </div>
  <div class="dui-drawer-side">
    <label
      for="navbar-drawer"
      aria-label="close sidebar"
      class="dui-drawer-overlay"></label>
    <ul class="dui-menu bg-base-200 min-h-full w-80 p-4 mr-2 rounded-r-xl">
      <!-- Sidebar content here -->
      <li><a>Sidebar Item 1</a></li>
      <li><a>Sidebar Item 2</a></li>
    </ul>
  </div>
</nav>

{animated && (
<script>
  const minimumWidthPercentage = 75;
  const scrollFullThreshold = 350;

  function handleScroll(element: HTMLElement, navbarTop: HTMLElement) {
    const progress = Math.min(window.scrollY / scrollFullThreshold, 1);

    element.style.width = `${Math.max((1 - progress / 2) * 100, minimumWidthPercentage)}%`;

    navbarTop.style.marginTop = `${Math.min(progress * 2, 1)}rem`;
    navbarTop.style.borderRadius = `${Math.max(progress, 0) * 4}rem`;
  }

  document.addEventListener("DOMContentLoaded", () => {
    const navbar = document.getElementById("navbar");
    const navbarTop = document.getElementById("navbar-top");

    if (!navbar || !navbarTop) {
      throw new Error("Navbar element not found");
    }

    handleScroll(navbar, navbarTop);

    document.addEventListener("scroll", (e) => {
      handleScroll(navbar, navbarTop);
    });
  });
</script>
)}
